body{
	background-color: lightblue;
	/*background-image: url("login.jpeg");*/
	font-family: sans-serif;
}

.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 70px 40px;
	box-sizing: border-box;
	background: rgba(220,220,220,.3);
	/*background-color: #f5f5f5;*/
}
